.opening-crawl {
    position: relative;
    margin-top: 3rem;
    height: 22rem;
    overflow: hidden;
}

/* Set the font, lean the board, position it */
.opening-crawl__board {
    transform: perspective(300px) rotateX(25deg);
    transform-origin: 50% 100%;
    text-align: justify;
    position: absolute;
    margin-left: -9em;
    font-weight: bold;
    overflow: hidden;
    font-size: 350%;
    height: 50em;
    width: 18em;
    bottom: 0;
    left: 50%;
}

.opening-crawl__board:after {
    position: absolute;
    content: ' ';
    bottom: 60%;
    left: 0;
    right: 0;
    top: 0;
}

/* Set the scrolling animation and position it */
.opening-crawl__text {
    position: absolute;
    top: 100%;
    color: #FFE81F;
}

.opening-crawl__text-animation {
    animation: scroll 100s infinite;
}

@keyframes scroll {
    0% {
        top: 100%;
    }
    100% {
        top: -170%;
    }
}
