.app-container {
  width: 50vw;
  margin: 0 auto;
  padding: 20px;
}

@media (max-device-width: 812px) {
  .app-container {
    width: 100vw;
  }
}

  .app-container__star {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: white;
  }
